.footer {
  font-family: var(--barlow_font);
  background-color: hsl(168, 34%, 51%);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer h2 {
  font-size: 2.25rem;
  color: var(--Dark_desaturated_cyan);
}

.nav {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav a {
  text-decoration: none;
  color: hsl(168, 34%, 31%);
  cursor: pointer;
}

.nav a:hover {
  color: var(--White);
}

.social_links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.social_links a:hover img {
  filter: brightness(0) invert(1); /* This will invert the colors of the SVG on hover */
}

